*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: 'Lato', sans-serif;
    background-position-y:bottom;
    background-color: #fff;
}
.header{
    font-weight: 600;
    display: flex;
    font-size:35px;
    justify-content: space-between;
    padding: 2vh 5vw 2vh 5vh;
    align-items: center;
    flex-wrap: wrap;
    /*background-color: #045445;*/
}

.header .search1{
    background-color: #e8e6e659;
    width: 45vw;
    font-size: 15px;
    font-weight: 200;
}

.header .search1 span:hover{
    cursor: pointer;
}

.header .search1 span{
    padding-left: 15px;
}

.header .search2{
    background-color: #e8e6e659;
    width: 45vw;
    font-size: 15px;
    font-weight: 200;
    padding-left: 25vw;
}

.header .search2 i{
    font-size: 20px;
    color: gray;
}

.header i{
    font-size: 25px;
    padding-right: 10px;
}

#searchbox{
    width: 150px;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: none;
}

.header .title1{
    display: flex;
    flex-direction: column;
}

.header .title .title1{
    font-size: 45px;
}

.header .title .sub1{
    font-size: 17px;
    font-weight: 400;
}

.header .title li:hover{
    cursor: pointer;
    color: #ccbbff;
    transition-duration: 0.3s;
}

.menu{
    display: flex;
    font-size: 15px;
    padding-right: 1vw;
}

.menu li:hover{
    cursor: pointer;
}

#login{
    font-size: 20px;
    font-weight: 400;
}

#login:hover{
    color: #ccbbff;
    transition-duration: 0.3s;
}

.menu li{
    padding: 1vw;
}
 
.produtc{
    display: flex;
    flex-direction: column;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section1 img{
    width: 350px;
}

.beneficts{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 200px 20px 200px 20px;
}

.p1{
    font-size: 25px;
    font-weight: bold;
}

.p2{
    font-weight: 200;
    font-size: 25px;
    opacity: 70%;
}

.beneficts p{
    float: right;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about span{
    font-size: 50px;
    font-weight: 600;
}

.about p{
    font-size: 25px;
    width: 700px;
    padding-bottom: 100px;
}

.sectionfooter{
    display: flex;
    justify-content: space-around;
}

.sectionfooter .f1{
    display: flex;
    flex-direction: column;
}

.sectionfooter .f2{
    display: flex;
    flex-direction: column;
}


.sectionfooter .f3{
    display: flex;
    flex-direction: column;
}